<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">
  
	<context:annotation-config />

	<context:component-scan base-package="com.tija.springtemplate.l9EventHAndling" />
	
	<!-- ASPECT -->
	<!-- http://docs.spring.io/spring/docs/current/spring-framework-reference/html/aop.html -->
	<aop:aspectj-autoproxy/>
	<bean name="loggingAspect" class="com.tija.aspectTemplate.aspect.LoggingAspect"></bean>
	
	<!--6 registering BeanPostProcessor -->
	<bean class="com.tija.springtemplate.l6BeanPostProcessor.MyBeanPostProcessor"></bean>

	<!--7 registering MyBeanFactoryPostProcessor -->
	<bean
		class="com.tija.springtemplate.l7BeanFactoryPostProcessor.MyBeanFactoryPostProcessor">
	</bean>
	<!--7 registering predefined BeanFactoryPostProcessor with placeholders-->
	<context:property-placeholder location="classpath:beans.properties" />

	<!--1 Bean Property Initialization :: Setter Injection -->
	<bean id="integral" name="integral"
		class="com.tija.springtemplate.l1setterInjection.Integral">
		<property name="type" value="${integral.type}"></property>
	</bean>
	<!--1 Bean Property Initialization :: Setter Injection -->

	<!--2 Bean Property Initialization :: Constructor Injection -->
	<bean id="geometry" name="geometry"
		class="com.tija.springtemplate.l2constructorInjection.Geometry">
		<constructor-arg type="java.lang.String" index="0"
			value="Euclid" />
		<constructor-arg type="int" index="1" value="10" />
	</bean>
	<!--2 Bean Property Initialization :: Constructor Injection -->

	<!--3 Bean Injecting Objects -->
	<bean name="algebra" class="com.tija.springtemplate.l3injectingObjects.Algebra">
		<constructor-arg type="java.lang.String" value="Osnovna teorema algebre" />
		<constructor-arg name="theorem" ref="theorem1" />
		<constructor-arg name="childTheorem" ref="theorem2" />
	</bean>
	<bean name="theorem1" class="com.tija.springtemplate.l3injectingObjects.AlgTheorem">
		<property name="name" value="${theorem2.name}"></property>
		<property name="text" value="${theorem1.text}"></property>
	</bean>

	<bean name="theorem2" class="com.tija.springtemplate.l3injectingObjects.AlgTheorem">
		<property name="name" value="${theorem2.name}"></property>
		<property name="text" value="${theorem2.text}"></property>
	</bean>
	<!--3 Bean Injecting Objects -->

	<!--4 Inner Bean -->

	<bean name="calculus" class="com.tija.springtemplate.l4InnerBean.Calculus">
		<constructor-arg type="java.lang.String" value="Odredjen integral" />
		<constructor-arg name="theorem">
			<bean class="com.tija.springtemplate.l4InnerBean.CalculusTheorem">
				<property name="name" value="First Theorem"></property>
				<property name="text" value="First Theorem text."></property>
			</bean>
		</constructor-arg>
		<constructor-arg name="childTheorem">
			<bean class="com.tija.springtemplate.l4InnerBean.CalculusTheorem">
				<property name="name" value="Second Theorem"></property>
				<property name="text" value="Second Theorem text."></property>
			</bean>
		</constructor-arg>
	</bean>
	<alias name="calculus" alias="calculusAlias" />
	<!--4 Inner Bean -->

	<!--5 Initializing Collections -->
	<bean name="mathematics"
		class="com.tija.springtemplate.l5InitializingCollections.Mathematics">
		<constructor-arg type="java.lang.String" value="Mathematics after coding." />
		<constructor-arg name="subjects">
			<list>
				<ref bean="subject1" />
				<ref bean="subject2" />
			</list>
		</constructor-arg>

	</bean>
	<bean name="subject1"
		class="com.tija.springtemplate.l5InitializingCollections.MathSubject">
		<property name="name" value="${subject1.one}"></property>
		<property name="text" value="${subject1.one}"></property>
	</bean>

	<bean name="subject2"
		class="com.tija.springtemplate.l5InitializingCollections.MathSubject">
		<property name="name" value="${subject2.one}"></property>
		<property name="text" value="${subject2.two}"></property>
	</bean>
	<!--5 Initializing Collections -->
	
	<!--********************************   AOP   ************************************* -->
	<bean name="poetry" class="com.tija.aspectTemplate.Poetry">
	<property name="name" value="Poe"></property>
	</bean>
	
	<bean name="proze" class="com.tija.aspectTemplate.Proze">
	<property name="name" value="Kafka"></property>
	</bean>
	
	<bean name="subjectService" class="com.tija.aspectTemplate.SubjectService" autowire="byName"/>




</beans>